{%- comment -%}
{%- endcomment -%}
{% if loc-html == 'false' %}

	{%- if block.settings.caption -%}
		<div class="tt-layer-nav__title">{{ block.settings.caption }}</div>
	{%- endif -%}

	<div class="tt-layer-nav__about">
		{{ block.settings.html }}
	</div>

	{%- comment -%} ###
		{% assign loc-html = 'true' %}
	<a href="#" class="ttg-image-scale"><img src="<?php echo $base_url.'images/sidebar/sidebar-about.jpg'; ?>" alt="Image name"></a>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. <a href="#" class="tt-layer-nav__more">More</a></p>
	### {%- endcomment -%}
{% endif %}