{%- comment -%}
{%- endcomment -%}
<a href="#" class="tt-footer__to-top{% if section.settings.show_totop_desktop %} tt-footer__to-top-desktop{% endif %}" data-btn-top-limit="{{ section.settings.btn_top_limit }}">
	<span>{{ 'layout.footer.btn_to_top' | t }}</span>
</a>