{%- comment -%}
{%- endcomment -%}
<div role="search" class="tt-header__search">
  <form action="/search" class="tt-header__search-form">
    <input type="search" name="q" class="form-control" placeholder="{{ 'general.search.placeholder' | t }}">
  </form>
  <div class="tt-header__search-dropdown"></div>
  <a href="#" class="tt-header__btn tt-header__btn-open-search"><i class="fal fa-search" aria-hidden="true"></i></a>
  <a href="#" class="tt-header__btn tt-header__btn-close-search"><i class="icon-cancel-1"></i></a>
</div>