{%- comment -%}
{%- endcomment -%}
{%- if settings.show_multiple_currencies == true or settings.show_multiple_languages == true -%}
	<div>
		<a href="#" class="tt-header__btn tt-header__btn-settings"><i class="">{{ 'cart.product.cart' | t }}</i></a>
		<div class="tt-header__settings">
			<ul class="tt-list-toggle">
				{%- if settings.show_multiple_languages -%}
					{%- include 'header-settings-languages' -%}
				{%- endif -%}
				{%- if settings.show_multiple_currencies -%}
					{%- include 'header-settings-currencies' -%}
				{%- endif -%}
			</ul>
		</div>
	</div>
{%- endif -%}
