{%- comment -%}
{%- endcomment -%}
<div class="tt-header__content">
  {% include 'header-logo' %}
  <div class="tt-header__nav">
    <div class="tt-header__sidebar">
      <div class="tt-header__options">
        <a href="#" class="tt-header__btn tt-header__btn-menu"><i class="">{{ 'cart.product.menu' | t }}</i></a>
        {% include 'header-search' %}
        {% include 'header-account' %}
        {% include 'header-wishlist' %}
        {% include 'header-cart' %}
        {% include 'header-settings' %}
      </div>
    </div>
  </div>
</div>
{% include 'header-menu' %}