{%- comment -%}
{%- endcomment -%}
<div class="col-xl-4">
	<div class="tt-page__section">
		<div class="tt-page__section-head tt-page__section-head--arrows tt-layout__section--pdg">
			<div class="tt-page__title">{{ collection.title }}</div>
			{% if section.settings.arrows %}
				<div class="tt-page__arrows tt-page__arrows--in-head tt-page__arrows--vertical">
				   <span class="tt-page__arrows-prev"><i class="icon-left-open-2"></i></span>
				   <span class="tt-page__arrows-next"><i class="icon-right-open-2"></i></span>
				</div>
			{% endif %}
		</div>
		<div class="tt-carousel-box tt-carousel-box--vertical tt-carousel-box--section">
			<div class="tt-product-view tt-product-view--list tt-product-view--preview">
				<div class="tt-carousel-box__slider">
					{% for product in collection.products %}
						<div class="col-xs-12">
							{% assign set-view = 'short' %}
							{% include 'product-list' %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>