{%- comment -%}
{%- endcomment -%}
{%- comment -%} ### show/hide popup ###{%- endcomment -%}
{%- if settings.prd-show_btn_addtocart-popup -%}
	{%- assign loc-show-popup = 'true' -%}
{%- else -%}
	{%- assign loc-show-popup = 'false' -%}
{%- endif -%}

<div class="tt-add-to-cart" data-active="{{ loc-show-popup }}">
	{% comment %}<i class="icon-check"></i>{% endcomment %}
	<p>{{ 'cart.general.popup_msg' | t }}</p>
	<a href="/cart" class="btn btn--flw">{{ 'cart.general.popup_view' | t }}</a>
	<button class="btn btn--flw colorize-btn6 ttg-mt--20" data-action="close">{{ 'cart.general.continue_shopping' | t }}</button>
</div>