{%- comment -%}
{%- endcomment -%}
{% assign res-sale_percent = null %}
{% assign res-price_sale_class = null %}
{% if loc-compare_at_price > loc-price %}
    {% capture res-price %}<span>{{ loc-price | money }}</span> <span>{{ loc-compare_at_price | money }}</span>{% endcapture %}
    {% assign res-price_sale_class = ' tt-price--sale' %}
    {% assign res-percent = loc-price | times: 100 | divided_by: loc-compare_at_price %}
    {% assign res-sale_percent = 100 | minus: res-percent %}
{% else %}
    {% capture res-price %}<span>{{ loc-price | money }}</span>{% endcapture %}
{% endif %}