{%- comment -%}
{%- endcomment -%}
{% comment %}
GET PARAMS
set-layout
set-image_size
{% endcomment %}



{% assign set-prd-build-page = true %}



{% comment %} ### General ### {% endcomment %}
{% include 'product-vars' %}
{% include 'product-vars-extended' %}



{% comment %} ### Price ### {% endcomment %}
{% include 'product-res-price' %}



{% comment %} ### Build variants ### {% endcomment %}
{% include 'product-res-variants-obj' %}



{% comment %} ### Check status ### {% endcomment %}
{% include 'product-res-check-btns-status' %}



<div class="tt-product-head tt-sticky-block__parent prdbut__product prdbut__product--page" {% include 'product-get-attributes' %}>
    <div class="tt-product-head__sticky{% if loc-enable_sticky %} tt-sticky-block{% endif %}">
        <div class="tt-product-head__images tt-sticky-block__inner{% if set-layout == 'layout1' %} prdbut__gallery{% endif %}">
            {% include 'product-get-gallery' %}
        </div>
    </div>
    <div class="tt-product-head__sticky{% if loc-enable_sticky %} tt-sticky-block{% endif %}">
        <div class="tt-product-head__info tt-sticky-block__inner tt-layout__section--pdg">
            {% include 'product-get-info' %}
        </div>
    </div>
</div>