<div data-section-id="{{ section.id }}" data-section-type="home-products-five" class="container-fluid ttg-cont-padding--none" >
  {% if section.settings.enable_buy_with %}
  <div class="tt-page__section-head tt-page__section-head--center tt-layout__section--pdg">
		<div class="tt-page__title"><a href="{{ collection.url }}">{{ section.settings.featured-text }}</a></div>
	</div>

	<div class="row ttg-grid-padding--none">

		<div class="col-lg-12">
			{%- assign set-image_size = '480x480' -%}
			<div class="row ttg-grid-padding">
				<div class="col-lg-3 col-sm-3">
					{%- assign product = all_products[section.settings.prd-top-left] -%}
					{% include 'product-list' %}
				</div>
				<div class="col-lg-3 col-sm-3">
					{%- assign product = all_products[section.settings.prd-top-right] -%}
					{% include 'product-list' %}
				</div>
				<div class="col-lg-3 col-sm-3">
					{%- assign product = all_products[section.settings.prd-bottom-left] -%}
					{% include 'product-list' %}
				</div>
				<div class="col-lg-3 col-sm-3">
					{%- assign product = all_products[section.settings.prd-bottom-right] -%}
					{% include 'product-list' %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>


{% schema %}
{
"name": "Buy With - SKU LE474T",
"settings": [
{
"type": "header",
"content": "Enable Buy With"
},
{
"default": false,
"id": "enable_buy_with",
"label": "Enable Buy With",
"type": "checkbox"
},
{
"label": "Section title(text)",
"id": "featured-text",
"type": "text",
"default": "Buy With"
},
{
"type": "product",
"id": "prd-top-left",
"label": "Product (1)"
},
{
"type": "product",
"id": "prd-top-right",
"label": "Product (2)"
},
{
"type": "product",
"id": "prd-bottom-left",
"label": "Product (3)"
},
{
"type": "product",
"id": "prd-bottom-right",
"label": "Product (4)"
}
]
}
{% endschema %}
