<div id="section-{{ section.id }}" class="site-box-container container--fullscreen add-border">

  {% for block in section.blocks %}

    {% render 'image_text-content', block: block, size: section.blocks.size, alignment: block.settings.bg_alignment, index: forloop.index %}

  {% endfor %}

</div>

{% schema %}
  {
    "name": "Images with text",
    "class": "index-section mount-images",
    "max_blocks": 4,
    "settings": [
      {
        "type": "select",
        "id": "txt_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image with text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "text",
            "id": "caption",
            "label": "Text",
            "default": "Share your latest products, collections or promotions!"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Background image"
          },
          {
            "id": "bg_alignment",
            "type": "select",
            "options": [
              {
                "value": "0% 0%",
                "label": "Top left"
              },
              {
                "value": "50% 0%",
                "label": "Top center"
              },
              {
                "value": "100% 0%",
                "label": "Top right"
              },
              {
                "value": "0% 50%",
                "label": "Middle left"
              },
              {
                "value": "50% 50%",
                "label": "Middle center"
              },
              {
                "value": "100% 50%",
                "label": "Middle right"
              },
              {
                "value": "0% 100%",
                "label": "Bottom left"
              },
              {
                "value": "50% 100%",
                "label": "Bottom center"
              },
              {
                "value": "100% 100%",
                "label": "Bottom right"
              }
            ],
            "default": "50% 50%",
            "label": "Image position"
          },
          {
            "type": "select",
            "id": "bg_style",
            "label": "Text color",
            "options": [
              {
                "value": "light",
                "label": "Dark"
              },
              {
                "value": "dark",
                "label": "Light"
              }
            ]
          }
        ]
      }
    ], 
    "presets": [{
      "name": "Images with text overlay",
      "category": "Image",
      "blocks": [{
        "type": "image"
      }]
    }]
  }
{% endschema %}