{%- comment -%}
{%- endcomment -%}
{% if section.blocks.size > 0 %}
	<div class="container-fluid ttg-cont-padding--none" data-section-id="{{ section.id }}" data-section-type="home-4banners">
		<div class="row ttg-grid-padding--none">
			<div class="col-sm-8">
				<div class="row ttg-grid-padding--none">
					<div class="col-sm-6">
						{%- assign set-boxsize = '' -%}
						{%- assign set-image_size = '640x' -%}
						{% include 'home-banner-item' with section.blocks[0] %}
					</div>
					<div class="col-sm-6">
						{%- assign set-boxsize = '' -%}
						{%- assign set-image_size = '640x' -%}
						{% include 'home-banner-item' with section.blocks[1] %}
					</div>
					<div class="col-sm-12">
						{%- assign set-boxsize = 'tt-promobox__size-wide' -%}
						{%- assign set-image_size = '1280x' -%}
						{% include 'home-banner-item' with section.blocks[2] %}
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				{%- assign set-boxsize = 'tt-promobox__size-high' -%}
				{%- assign set-image_size = '640x' -%}
				{% include 'home-banner-item' with section.blocks[3] %}
			</div>
		</div>
	</div>
{%- endif -%}
{%- if section.blocks.size == 0 -%}
	{% include 'no-blocks' %}
{%- endif -%}
{% schema %}
{
"name": "4x Image Banner Grid",
"settings": [
{
"type": "header",
"content": "First banner (square)",
"info": "Image size 640 x 480 px"
},
{
"type": "header",
"content": "Second banner (square)",
"info": "Image size 640 x 480 px"
},
{
"type": "header",
"content": "Third banner (wide)",
"info": "Image size 1280 x 480 px"
},
{
"type": "header",
"content": "Fourth banner (tall)",
"info": "Image size 640 x 960 px"
}
],
"max_blocks": 4,
"blocks": [
{
"type": "banner-4",
"name": "Banner",
"settings": [
{
"label": "Image",
"id": "image",
"type": "image_picker"
},
{
"label": "Image hover animation",
"id": "image-hover-animation",
"type": "select",
"default": "right",
"options": [
{ "value": "right", "label": "left > right" },
{ "value": "left", "label": "right > left" },
{ "value": "top", "label": "bottom > top" },
{ "value": "bottom", "label": "top > bottom" },
{ "value": "scale", "label": "zoom in" },
{ "value": "", "label": "none" }
]
},
{
"label": "URL",
"id": "url",
"type": "url"
},
{
"label": "Line 1 (text)",
"id": "text1",
"type": "text",
"default": "Title 1"
},
{
"label": "Text position",
"id": "text1-position",
"type": "select",
"default": "top left",
"options": [
{ "value": "top left", "label": "Top Left" },
{ "value": "top h-center", "label": "Top Center" },
{ "value": "top right", "label": "Top Right" },
{ "value": "v-center left", "label": "Center Left" },
{ "value": "v-center h-center", "label": "Center Center" },
{ "value": "v-center right", "label": "Center Right" },
{ "value": "bottom left", "label": "Bottom Left" },
{ "value": "bottom h-center", "label": "Bottom Center" },
{ "value": "bottom right", "label": "Bottom Right" }
]
},
{
"label": "Line 2, Part 1(text)",
"id": "text2",
"type": "text",
"default": "28"
},
{
"label": "Line 2, Part 2(text)",
"id": "text2-p2",
"type": "text",
"default": "products"
},
{
"label": "Hover text position",
"id": "text2-position",
"type": "select",
"default": "v-center h-center",
"options": [
{ "value": "top left", "label": "Top Left" },
{ "value": "top h-center", "label": "Top Center" },
{ "value": "top right", "label": "Top Right" },
{ "value": "v-center left", "label": "Center Left" },
{ "value": "v-center h-center", "label": "Center Center" },
{ "value": "v-center right", "label": "Center Right" },
{ "value": "bottom left", "label": "Bottom Left" },
{ "value": "bottom h-center", "label": "Bottom Center" },
{ "value": "bottom right", "label": "Bottom Right" }
]
},
{
"type": "header",
"content": "Colors"
},
{
"type": "color",
"id": "color_title_c",
"label": "Text title"
},
{
"type": "color",
"id": "color_title_h_c",
"label": "Hover text title"
},
{
"type": "color",
"id": "color_info_h_c",
"label": "Hover text info"
},
{
"type": "color",
"id": "color_quantity_h_c",
"label": "Hover text quantity"
},
{
"type": "color",
"id": "color_h_bg",
"label": "Hover background"
}
]
}
],
"presets": [
{
"name": "4 banners",
"category": "2) Banners",
"blocks": [
{
"type": "banner-4",
"settings": {
"text1": "Title 1",
"text2": "28",
"text2-p2": "products"
}
},
{
"type": "banner-4",
"settings": {
"text1": "Title 2",
"text2": "46",
"text2-p2": "products",
"image-hover-animation": "top"
}
},
{
"type": "banner-4",
"settings": {
"text1": "Title 3",
"text2": "",
"text2-p2": "32 products",
"image-hover-animation": "scale"
}
},
{
"type": "banner-4",
"settings": {
"text1": "Title 4",
"text2": "",
"text2-p2": "24 products",
"image-hover-animation": "left"
}
}
]
}
]
}
{% endschema %}