{% assign collection_count = 0 %}
{% assign isEmpty = true %}

{% if section.settings.display_type == 'all' %}
  {% case section.settings.sort %}
    {% when 'products_high' or 'products_low' %}
      {% assign list_collections = collections | sort: 'all_products_count' %}
    {% when 'date' or 'date_reversed' %}
      {% assign list_collections = collections | sort: 'published_at' %}
    {% else %}
      {% assign list_collections = collections %}
  {% endcase %}
  {% for collection in list_collections %}
    {% unless collection.handle == 'frontpage' %}
      {% assign collection_count = collection_count | plus: 1 %}
    {% endunless %}
  {% endfor %}
{% else %}
  {% assign collection_count = section.blocks.size %}
{% endif %}

{% if collection_count > 0 %}
  {% assign isEmpty = false %}
{% endif %}

  <div class="site-box box--big lap--box--small-fl box--typo-big box--center-align box--column-flow box__heading box--add-hr {% if collection__count == 1 %} fix-me-with-height-hard {% endif %}" data-order="0">

    <div class="site-box-content fix-me-with-margin">
          
      <h1 class="title">{{ 'collections.general.all_collections' | t }}</h1>

    </div>

  </div>

  {% if section.settings.display_type == 'all' %}

    {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}

      {% if isEmpty %}

        <div class="site-box box--big box--center-align box--no-padding box--column-flow">
          <p>{{ 'collections.general.no_collections' | t }}</p>
        </div>

      {% else %}

        <div class="collection__holder">
          {% for collection in list_collections %}
            {% assign collection_handle = collection.handle %}
            {% if collection_handle == 'frontpage' %}
              {% continue %}
            {% endif %}
              {% render 'collection_collection-content', collection: collection, collection_count: collection_count, index: forloop.index %}
          {% endfor %}
        </div>

      {% endif %}

    {% else %}

      {% if isEmpty %}

        <div class="site-box box--big box--center-align box--no-padding box--column-flow">
          <p>{{ 'collections.general.no_collections' | t }}</p>
        </div>

      {% else %}

        <div class="collection__holder">
        {% for collection in list_collections reversed %}
            {% assign collection_handle = collection.handle %}
            {% if collection_handle == 'frontpage' %}
              {% continue %}
            {% endif %}
              {% render 'collection_collection-content', collection: collection, collection_count: collection_count, index: forloop.index %}
          {% endfor %}
        </div>

      {% endif %}

    {% endif %}

  {% else %}

    {% if section.blocks == empty %}

    {% else %}
      <div class="collection__holder">
        {% for block in section.blocks %}
          {% assign collection = collections[block.settings.collection] %}
          {% assign collection_handle = collection.handle %}
          {% render 'collection_collection-content', collection: collection, collection_count: collection_count, index: forloop.index %}
        {% endfor %}
      </div>
    {% endif %}

  {% endif %}

{% schema %}
{
  "name": {
    "en": "Collections list"
  },
  "class": "site-box-container container--fullscreen",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
      }
    },
    {
      "type": "radio",
      "id": "display_type",
      "label": {
        "en": "Select collections to show"
      },
      "default": "all",
      "options": [
        {
          "value": "all",
          "label": {
            "en": "All"
          }
        },
        {
          "value": "selected",
          "label": {
            "en": "Selected"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "sort",
      "label": {
        "en": "Sort collections by:"
      },
      "info": {
        "en": "Sorting only applies when 'All' is selected"
      },
      "default": "alphabetical",
      "options": [
        {
          "value": "products_high",
          "label": {
            "en": "Product count, high to low"
          }
        },
        {
          "value": "products_low",
          "label": {
            "en": "Product count, low to high"
          }
        },
        {
          "value": "alphabetical",
          "label": {
            "en": "Alphabetically, A-Z"
          }
        },
        {
          "value": "alphabetical_reversed",
          "label": {
            "en": "Alphabetically, Z-A"
          }
        },
        {
          "value": "date",
          "label": {
            "en": "Date, old to new"
          }
        },
        {
          "value": "date_reversed",
          "label": {
            "en": "Date, new to old"
          }
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {
        "en": "Collection"
      },
      "settings": [
        {
          "label": {
            "en": "Collection"
          },
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
