{%- comment -%}
{%- endcomment -%}
{% assign loc-settings = section.settings %}

{% assign set-layout = loc-settings.layout %}
{% assign set-image_size = '670x' %}

{% assign loc-check_buttons_status = loc-settings.check_buttons_status %}
{% assign loc-related_products_caption = loc-settings.related_products_caption %}
{% assign loc-related_products_limit = loc-settings.related_products_limit %}
{% assign loc-custom_text_tab_caption = loc-settings.custom_text_tab_caption %}
{% assign loc-custom_text_tab_content = loc-settings.custom_text_tab_content %}
{% assign loc-custom_html_tab_caption = loc-settings.custom_html_tab_caption %}
{% assign loc-custom_html_tab_content = loc-settings.custom_html_tab_content %}

{% assign loc-show_sku = loc-settings.show_sku %}
{% assign loc-show_availability = loc-settings.show_availability %}
{% assign loc-show_collections = loc-settings.show_collections %}
{% assign loc-show_name = loc-settings.show_name %}
{% assign loc-show_review_badge = loc-settings.show_review_badge %}
{% assign loc-show_price = loc-settings.show_price %}
{% assign loc-show_lbl_sale_percent_countdown = loc-settings.show_lbl_sale_percent_countdown %}
{% assign loc-show_type = loc-settings.show_type %}
{% assign loc-show_afterpay = loc-settings.show_afterpay %}
{% assign loc-show_vendor = loc-settings.show_vendor %}
{% assign loc-show_barcode = loc-settings.show_barcode %}
{% assign loc-show_description = loc-settings.show_description %}
{% assign loc-show_quantity = loc-settings.show_quantity %}
{% assign loc-show_buttons = loc-settings.show_buttons %}
{% assign loc-show_cart_btn = loc-settings.show_cart_btn %}
{% assign loc-show_wishlist_btn = loc-settings.show_wishlist_btn %}
{% assign loc-show_options = loc-settings.show_options %}
{% assign loc-show_tags = loc-settings.show_tags %}
{% assign loc-show_notes = loc-settings.show_notes %}
{% assign loc-show_share_buttons = loc-settings.show_share_buttons %}
{% assign loc-show_tabs = loc-settings.show_tabs %}
{% assign loc-show_custom_text_tab = loc-settings.show_custom_text_tab %}
{% assign loc-show_custom_html_tab = loc-settings.show_custom_html_tab %}
{% assign loc-show_custom_product_tabs = loc-settings.show_custom_product_tabs %}
{% assign loc-show_description_tab = loc-settings.show_description_tab %}
{% assign loc-show_tag_tab = loc-settings.show_tag_tab %}
{% assign loc-show_review_tab = loc-settings.show_review_tab %}
{% assign loc-show_related_products = loc-settings.show_related_products %}
{% assign loc-show_rich-snippet = true %}
{% assign loc-show_gallery_arrows = loc-settings.show_gallery_arrows %}
{% assign loc-show_gallery_btn_fullscreen = loc-settings.show_gallery_btn_fullscreen %}
{% assign loc-enable_gallery_zoom = loc-settings.enable_gallery_zoom %}
{% assign loc-enable_sticky = loc-settings.enable_sticky %}

{% assign loc-options_type_select = loc-settings.options_select_type %}

<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
		<div class="tt-product-page">
			<div class="tt-product-page__breadcrumbs">
				{% include 'breadcrumbs' %}
			</div>

			{% include 'product-page' %}

			{% comment %} ### Tabs for Variant #1 ### {% endcomment %}
			{% if loc-show_tabs and set-layout == 'layout1' %}
				{% include 'product-get-tabs' %}
			{% endif %}

			{% if loc-show_related_products %}
				{% assign set-prd-build-page = false %}
				{% include 'product-get-related-products' %}
			{% endif %}
		</div>

		{% if loc-show_rich-snippet %}
			{% include 'product-get-google-rich-snippet' %}
		{% endif %}
</div>

{% schema %}
{
"name": "Product page",
"settings": [
{
"type": "select",
"id": "layout",
"label": "Layout",
"default": "layout1",
"options": [
{ "value": "layout1", "label": "Variant 1 (default)" },
{ "value": "layout2", "label": "Variant 2" }
]
},
{
"type": "header",
"content": "Info"
},
{
"type": "checkbox",
"id": "show_sku",
"label": "Show SKU",
"default": true
},
{
"type": "checkbox",
"id": "show_availability",
"label": "Show availability",
"default": true
},
{
"type": "checkbox",
"id": "show_name",
"label": "Show name",
"default": true
},
{
"type": "checkbox",
"id": "show_collections",
"label": "Show collections",
"default": true
},
{
"type": "checkbox",
"id": "show_review_badge",
"label": "Show review",
"default": true
},
{
"type": "checkbox",
"id": "show_price",
"label": "Show price",
"default": true
},
{
"type": "checkbox",
"id": "show_lbl_sale_percent_countdown",
"label": "Show label sale percent and countdown",
"default": true
},
{
"type": "checkbox",
"id": "show_description",
"label": "Show description",
"default": true
},
{
"type": "checkbox",
"id": "show_quantity",
"label": "Show quantity",
"default": true
},
{
"type": "checkbox",
"id": "show_buttons",
"label": "Show buttons",
"default": true
},
{
"type": "checkbox",
"id": "show_cart_btn",
"label": "Show cart button",
"default": true
},
{
"type": "checkbox",
"id": "show_wishlist_btn",
"label": "Show wishlist button",
"default": true
},
{
"type": "checkbox",
"id": "show_options",
"label": "Show options",
"default": true
},
{
"type": "checkbox",
"id": "show_vendor",
"label": "Show vendor",
"default": true
},
{
"type": "checkbox",
"id": "show_afterpay",
"label": "show afterpay",
"default": true
},
{
"type": "checkbox",
"id": "show_type",
"label": "Show type",
"default": true
},
{
"type": "checkbox",
"id": "show_barcode",
"label": "Show barcode",
"default": true
},
{
"type": "checkbox",
"id": "show_tags",
"label": "Show tags",
"default": true
},
{
"type": "checkbox",
"id": "show_notes",
"label": "Show notes",
"default": false
},
{
"type": "checkbox",
"id": "show_share_buttons",
"label": "Show social sharing buttons",
"default": true
},
{
"type": "checkbox",
"id": "check_buttons_status",
"label": "Check buttons status",
"default": true
},
{
"type": "header",
"content": "Gallery"
},
{
"type": "checkbox",
"id": "enable_gallery_zoom",
"label": "Enable zoom",
"default": true
},
{
"type": "checkbox",
"id": "show_gallery_arrows",
"label": "Show arrows",
"default": false
},
{
"type": "checkbox",
"id": "show_gallery_btn_fullscreen",
"label": "Show button fullscreen",
"default": true
},
{
"type": "checkbox",
"id": "enable_sticky",
"label": "Enable sticky blocks",
"default": true
},
{
"type": "header",
"content": "Options"
},
{
"type": "text",
"id": "options_select_type",
"label": "Select type",
"info": "Separate by a comma"
},
{
"type": "header",
"content": "Tabs"
},
{
"type": "checkbox",
"id": "show_tabs",
"label": "Show tabs?",
"default": true
},
{
"type": "checkbox",
"id": "show_description_tab",
"label": "Show description tab?",
"default": true
},
{
"type": "checkbox",
"id": "show_tag_tab",
"label": "Show tags tab?",
"default": true
},
{
"type": "checkbox",
"id": "show_review_tab",
"label": "Show review tab?",
"default": true
},
{
"type": "checkbox",
"id": "show_custom_text_tab",
"label": "Show Wearing Notes (Load ShopifyFD extension)",
"default": true
},
{
"type": "checkbox",
"id": "show_custom_html_tab",
"label": "Show custom HTML tab? (same for all products)",
"default": true
},
{
"type": "checkbox",
"id": "show_custom_product_tabs",
"label": "Show product tabs? (per product)",
"info": "Use WM app to edit tabs content",
"default": true
},
{
"type": "header",
"content": "Custom text tab (same for all products)"
},
{
"type": "text",
"id": "custom_text_tab_caption",
"label": "Tab caption",
"default": "Text"
},
{
"type": "richtext",
"id": "custom_text_tab_content",
"label": "Text content",
"default": "<p>Tab's Text Content goes here!</p><p>You can make&nbsp;text <strong>bold</strong>, <em>italic</em> or add <a href=\"\/blogs\/news\" title=\"News\">link</a> using rich text editor.</p><p></p>"
},
{
"type": "header",
"content": "Custom HTML tab (same for all products)"
},
{
"type": "text",
"id": "custom_html_tab_caption",
"label": "Tab caption",
"default": "HTML"
},
{
"type": "html",
"id": "custom_html_tab_content",
"label": "HTML content",
"default": "Tab's HTML<br> content<br><br> goes here!"
},
{
"type": "header",
"content": "Related Products"
},
{
"type": "checkbox",
"id": "show_related_products",
"label": "Show related products",
"default": true
},
{
"type": "text",
"id": "related_products_caption",
"label": "Caption for related products",
"default": "You may also be interested in the following product(s)"
},
{
"type": "text",
"id": "related_products_limit",
"label": "Limit number of products",
"default": "5",
"info": "Integer"
}
]
}
{% endschema %}