<div class="tpb-booking-form page"></div>
{% schema %}
  {
    "name": "Tipo Booking Form",
    "settings": [
      
    ],
    "presets": [
        {
          "name": {
            "en": "Tipo Booking Form"
          },
          "category": {
            "en": "Tipo Booking App"
          }
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}