<div class="shopify-section">

  <div id="section-404" class="site-box-container container--fullscreen">

    <div class="site-box box--bigger lap--box--small-fl box--typo-big box--center-align box--column-flow box__heading box--add-hr box--404 fix-me-with-height-hard" data-order="0">

      <div class="site-box-content">

				<h1>{{ 'general.404.title' | t }}</h1>
				<p>{{ 'general.404.subtext_html' | t }}</p>

			</div>

		</div>

	</div>

</div>
