<div class="shopify-section">

  <div id="section-cart" class="site-box-container container--fullscreen box--can-stick">

    <div class="site-box box--big lap--box--small-fl box--typo-big box--center-align box--column-flow box__heading box--add-hr" data-order="0">
      <div class="site-box-content fix-me-with-margin">
        <h1 class="title">{{ 'cart.title' | t }}</h1>
      </div>
    </div>

    <div class="site-box box--big lap--box--bigger box--center-align box--column-flow box__cart" data-order="1">

      {% if cart.item_count > 0 %}

        <div class="site-box-content fix-me-with-margin">
          {% render 'cart_form', type: 'page', cart: cart %}
        </div>

      {% else %}

        <div class="site-box-content fix-me-with-margin">
          <p>{{ 'cart.empty' | t }}</p>
          {{ 'cart.continue_browsing_html' | t }}
        </div>

      {% endif %}

    </div>

  </div>

</div>
{% section 'banner_cart' %}