<div class="shopify-section">
	
	<article id="section-page" class="site-box-container container--fullscreen box--can-stick">
		
		<div class="site-box box--big lap--box--small-fl box--typo-big box--center-align box--column-flow box__heading box--add-hr" data-order="0">

		 	<div class="site-box-content less-padding fix-me-with-margin">
            
        <h1 class="title">
          {{ page.title }}
        </h1>

      </div>

		</div>

    <div class="site-box box--big lap--box--bigger box__text box--typo-big box--center-align box--column-flow" data-order="1">

      <div class="site-box-content fix-me-with-margin">
        
        <div class="rte">
          {{ page.content }}
        </div>

			</div>

		</div>

	</article>

</div>