{% layout 'theme-fullwidth' %}

{%- comment -%}
<div class="ttg-mt--0">
	<div class="ttg-image-scale"><img alt="Image name" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
                                      srcset="https://cdn.shopify.com/s/files/1/0024/2945/2349/files/180516_Our_Story_Banner_02-min.jpg?4826701285989691816" style="display: inline;" /></div>
</div>
{%- endcomment -%}

<div class="tt-page__breadcrumbs">
	{% include 'breadcrumbs' %}
</div>

<div class="tt-page__name text-center">
	<h1>Our Story</h1>
	<p>{{ page.content }}</p>
</div>

<div class="tt-about">
	<div class="row ttg-grid-padding--none">
       {% comment %}
      
		<div class="col-md-6"><a href="#" class="ttg-image-translate--left ttg-animation-disable--sm"><img
				data-srcset="https://cdn.shopify.com/s/files/1/0024/2945/2349/files/about-01.jpg?2171340027537288961"
				alt="Image name"/></a>
      	</div>
      
		<div class="col-md-6">
			<div class="tt-about__info">
				<div>How We Got Started</div>
              	<p class="tt-aboutus__info">Savvy, traveled and discerning, the A-ESQUE collector knows their own taste but is intrigued to be shown new directions. They don’t need celebrity endorsements or glossy advertising campaigns to seduce them – they’re aware of their own path. It’s one they’ve carved out for themselves. Architects, interior designers, frequent flyers, the A-ESQUE collector thinks global even when they choose to live local.</p>
                <p class="tt-aboutus__info">Hand-made in Melbourne from finest Italian hides by a master pattern maker and a crack team of highly skilled craftspeople, each A-ESQUE bag is bespoke. Patterns are derived from graphic leather paneling and intricate stitching, the 18-carat gold A-ESQUE logo is discretely sewn on the inside.</p>
			</div>
		</div>
      
		<div class="col-md-6">
			<div class="tt-about__info">
				<div>Meet Our Team</div>
				<p class="tt-aboutus__info">Chloe, Dona, Kate and Will</p>
			</div>
		</div>
      
		<div class="col-md-6"><a href="#" class="ttg-image-scale ttg-animation-disable--sm"><img
				data-srcset="https://cdn.shopify.com/s/files/1/0024/2945/2349/files/about-us-team.jpg?6391672791270304930"
				alt="Image name"/></a>
      	</div>
      {% endcomment %}
      
      	<div class="col-md-6"><a href="#" class="ttg-image-translate--left ttg-animation-disable--sm"><img
				data-srcset="https://cdn.shopify.com/s/files/1/0024/2945/2349/files/OUR-STORY_ABR_PORTRAIT_1080.jpg?v=1580341256" alt="Image name"/></a>
      	</div>
      
		<div class="col-md-6">
			<div class="tt-about__info">
				<div>Amanda Briskin-Rettig</div>
				<p class="tt-aboutus__info">An Australian-born designer, author of one of the country’s most successful fashion stories and the formidable creative impetus behind label A-ESQUE. In 1996, Amanda founded accessories giant Mimco, and built the brand into a fashion powerhouse over twelve years prior to its sale in 2007. In 2013 inspired afresh, Briskin-Rettig launched A-ESQUE. The label celebrates a rational approach to design that champions traditional artisan skills, high-quality materials, and a functional aesthetic.</p>
			</div>
		</div>
      
	</div>
</div>
{% comment %}
<div class="tt-page__name-sm text-center">
	<h2>Our Team</h2>
	<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
</div>

<div class="container-fluid ttg-cont-padding--none ttg-mb--100 ttg-mt--50">
	<div class="row ttg-grid-padding--none">
		<div class="row ttg-grid-padding--none">
			<div class="col-sm-6 col-xl-3">
				<div class="tt-team ttg-text-animation-parent">
					<div class="tt-team__image"><a href="#"> <img alt="Image name"
																  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
																  srcset="https://cdn.shopify.com/s/files/1/2235/6337/files/team-01.jpg?8314470538398280131"
																  style="display: inline;"/> </a></div>
					<div class="tt-team__hover">
						<div class="tt-team__content">
							<div class="ttg-text-animation--emersion"><a href="#" class="tt-team__name">Susan Lee</a></div>
							<div class="ttg-text-animation--emersion"><span class="tt-team__status">SCEO / Founder</span></div>
							<div class="ttg-text-animation--emersion">
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="ttg-text-animation--emersion">
								<div class="tt-team__social tt-social-icons tt-social-icons__color-white"><a href="#" class="tt-btn"> <i
										class="icon-facebook"></i> </a> <a href="#" class="tt-btn"> <i class="icon-twitter"></i> </a> <a href="#"
																																		 class="tt-btn"> <i
										class="icon-gplus"></i> </a> <a href="#" class="tt-btn"> <i class="icon-instagram-1"></i> </a> <a href="#"
																																		  class="tt-btn"> <i
										class="icon-youtube-play"></i> </a>
                              	</div>
							</div>
						</div>
					</div>
                  
				</div>
			</div>
          
			<div class="col-sm-6 col-xl-3">
				<div class="tt-team ttg-text-animation-parent">
					<div class="tt-team__image"><a href="#"> <img alt="Image name"
																  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
																  srcset="https://cdn.shopify.com/s/files/1/2235/6337/files/team-03.jpg?8314470538398280131"
																  style="display: inline;"/> </a></div>
					<div class="tt-team__hover">
						<div class="tt-team__content">
							<div class="ttg-text-animation--emersion"><a href="#" class="tt-team__name">Susan Lee</a></div>
							<div class="ttg-text-animation--emersion"><span class="tt-team__status">SCEO / Founder</span></div>
							<div class="ttg-text-animation--emersion">
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="ttg-text-animation--emersion">
								<div class="tt-team__social tt-social-icons tt-social-icons__color-white"><a href="#" class="tt-btn"> <i
										class="icon-facebook"></i> </a> <a href="#" class="tt-btn"> <i class="icon-twitter"></i> </a> <a href="#"
																																		 class="tt-btn"> <i
										class="icon-gplus"></i> </a> <a href="#" class="tt-btn"> <i class="icon-instagram-1"></i> </a> <a href="#"
																																		  class="tt-btn"> <i
										class="icon-youtube-play"></i> </a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="tt-team ttg-text-animation-parent">
					<div class="tt-team__image"><a href="#"> <img alt="Image name"
																  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
																  srcset="https://cdn.shopify.com/s/files/1/2235/6337/files/team-02.jpg?8314470538398280131"
																  style="display: inline;"/> </a></div>
					<div class="tt-team__hover">
						<div class="tt-team__content">
							<div class="ttg-text-animation--emersion"><a href="#" class="tt-team__name">Susan Lee</a></div>
							<div class="ttg-text-animation--emersion"><span class="tt-team__status">SCEO / Founder</span></div>
							<div class="ttg-text-animation--emersion">
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="ttg-text-animation--emersion">
								<div class="tt-team__social tt-social-icons tt-social-icons__color-white"><a href="#" class="tt-btn"> <i
										class="icon-facebook"></i> </a> <a href="#" class="tt-btn"> <i class="icon-twitter"></i> </a> <a href="#"
																																		 class="tt-btn"> <i
										class="icon-gplus"></i> </a> <a href="#" class="tt-btn"> <i class="icon-instagram-1"></i> </a> <a href="#"
																																		  class="tt-btn"> <i
										class="icon-youtube-play"></i> </a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="tt-team ttg-text-animation-parent">
					<div class="tt-team__image"><a href="#"> <img alt="Image name"
																  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
																  srcset="https://cdn.shopify.com/s/files/1/2235/6337/files/team-04.jpg?8314470538398280131"
																  style="display: inline;"/> </a></div>
					<div class="tt-team__hover">
						<div class="tt-team__content">
							<div class="ttg-text-animation--emersion"><a href="#" class="tt-team__name">Susan Lee</a></div>
							<div class="ttg-text-animation--emersion"><span class="tt-team__status">SCEO / Founder</span></div>
							<div class="ttg-text-animation--emersion">
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="ttg-text-animation--emersion">
								<div class="tt-team__social tt-social-icons tt-social-icons__color-white"><a href="#" class="tt-btn"> <i
										class="icon-facebook"></i> </a> <a href="#" class="tt-btn"> <i class="icon-twitter"></i> </a> <a href="#"
																																		 class="tt-btn"> <i
										class="icon-gplus"></i> </a> <a href="#" class="tt-btn"> <i class="icon-instagram-1"></i> </a> <a href="#"
																																		  class="tt-btn"> <i
										class="icon-youtube-play"></i> </a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="tt-team ttg-text-animation-parent">
					<div class="tt-team__image"><a href="#"> <img alt="Image name"
																  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
																  srcset="https://cdn.shopify.com/s/files/1/2235/6337/files/team-05.jpg?8314470538398280131"
																  style="display: inline;"/> </a></div>
					<div class="tt-team__hover">
						<div class="tt-team__content">
							<div class="ttg-text-animation--emersion"><a href="#" class="tt-team__name">Susan Lee</a></div>
							<div class="ttg-text-animation--emersion"><span class="tt-team__status">SCEO / Founder</span></div>
							<div class="ttg-text-animation--emersion">
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="ttg-text-animation--emersion">
								<div class="tt-team__social tt-social-icons tt-social-icons__color-white"><a href="#" class="tt-btn"> <i
										class="icon-facebook"></i> </a> <a href="#" class="tt-btn"> <i class="icon-twitter"></i> </a> <a href="#"
																																		 class="tt-btn"> <i
										class="icon-gplus"></i> </a> <a href="#" class="tt-btn"> <i class="icon-instagram-1"></i> </a> <a href="#"
																																		  class="tt-btn"> <i
										class="icon-youtube-play"></i> </a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="tt-team ttg-text-animation-parent">
					<div class="tt-team__image"><a href="#"> <img alt="Image name"
																  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
																  srcset="https://cdn.shopify.com/s/files/1/2235/6337/files/team-07.jpg?8314470538398280131"
																  style="display: inline;"/> </a></div>
					<div class="tt-team__hover">
						<div class="tt-team__content">
							<div class="ttg-text-animation--emersion"><a href="#" class="tt-team__name">Susan Lee</a></div>
							<div class="ttg-text-animation--emersion"><span class="tt-team__status">SCEO / Founder</span></div>
							<div class="ttg-text-animation--emersion">
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="ttg-text-animation--emersion">
								<div class="tt-team__social tt-social-icons tt-social-icons__color-white"><a href="#" class="tt-btn"> <i
										class="icon-facebook"></i> </a> <a href="#" class="tt-btn"> <i class="icon-twitter"></i> </a> <a href="#"
																																		 class="tt-btn"> <i
										class="icon-gplus"></i> </a> <a href="#" class="tt-btn"> <i class="icon-instagram-1"></i> </a> <a href="#"
																																		  class="tt-btn"> <i
										class="icon-youtube-play"></i> </a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="tt-team ttg-text-animation-parent">
					<div class="tt-team__image"><a href="#"> <img alt="Image name"
																  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
																  srcset="https://cdn.shopify.com/s/files/1/2235/6337/files/team-08.jpg?8314470538398280131"
																  style="display: inline;"/> </a></div>
					<div class="tt-team__hover">
						<div class="tt-team__content">
							<div class="ttg-text-animation--emersion"><a href="#" class="tt-team__name">Susan Lee</a></div>
							<div class="ttg-text-animation--emersion"><span class="tt-team__status">SCEO / Founder</span></div>
							<div class="ttg-text-animation--emersion">
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="ttg-text-animation--emersion">
								<div class="tt-team__social tt-social-icons tt-social-icons__color-white"><a href="#" class="tt-btn"> <i
										class="icon-facebook"></i> </a> <a href="#" class="tt-btn"> <i class="icon-twitter"></i> </a> <a href="#"
																																		 class="tt-btn"> <i
										class="icon-gplus"></i> </a> <a href="#" class="tt-btn"> <i class="icon-instagram-1"></i> </a> <a href="#"
																																		  class="tt-btn"> <i
										class="icon-youtube-play"></i> </a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="tt-team ttg-text-animation-parent">
					<div class="tt-team__image"><a href="#"> <img alt="Image name"
																  src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
																  srcset="https://cdn.shopify.com/s/files/1/2235/6337/files/team-06.jpg?8314470538398280131"
																  style="display: inline;"/> </a></div>
					<div class="tt-team__hover">
						<div class="tt-team__content">
							<div class="ttg-text-animation--emersion"><a href="#" class="tt-team__name">Susan Lee</a></div>
							<div class="ttg-text-animation--emersion"><span class="tt-team__status">SCEO / Founder</span></div>
							<div class="ttg-text-animation--emersion">
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="ttg-text-animation--emersion">
								<div class="tt-team__social tt-social-icons tt-social-icons__color-white"><a href="#" class="tt-btn"> <i
										class="icon-facebook"></i> </a> <a href="#" class="tt-btn"> <i class="icon-twitter"></i> </a> <a href="#"
																																		 class="tt-btn"> <i
										class="icon-gplus"></i> </a> <a href="#" class="tt-btn"> <i class="icon-instagram-1"></i> </a> <a href="#"
																																		  class="tt-btn"> <i
										class="icon-youtube-play"></i> </a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endcomment %}