
<div>
    {% section 'product' %}
  
  	{% for tag in product.tags %}{% if tag == 'Shoulder Bag' %}{% if forloop.first %} hide{% endif %}
    {% section 'home-buy-with' %} 
  	{% endif %}{% endfor %}

</div>